
<div class="main-contents">
 
<%# 上段メニュー　%>
<ul>
 <div class="order">
  <div class="menu">
    <div class="menu-text">かり</div>
    <div class="menu-count" id=num1>0</div>
  </div>      
  <div class="buttons">
   <button id="btn1">－</button>
   <button id="btn2">＋</button>
  </div>
 </div>
  
 <div class="order">
  <div class="menu">
    <div class="menu-text">丸</div>
    <div class="menu-count" id=num2>0</div>
  </div>      
  <div class="buttons">
   <button id="btn3">－</button>
   <button id="btn4">＋</button>
  </div>
 </div>

 <div class="order">
  <div class="menu">
    <div class="menu-text">手羽</div>
    <div class="menu-count" id=num3>0</div>
  </div>      
  <div class="buttons">
   <button id="btn5">－</button>
   <button id="btn6">＋</button>
  </div>
 </div>
 
 <div class="order">
  <div class="menu">
    <div class="menu-text">極</div>
    <div class="menu-count" id=num4>0</div>
  </div>      
  <div class="buttons">
   <button id="btn7">－</button>
   <button id="btn8">＋</button>
  </div>
 </div>
</ul>   




<%# 下段メニュー　%>
<ul>
 <div class="order">
  <div class="menu">
    <div class="menu-text">季節</div>
    <div class="menu-count" id=num5>0</div>
  </div>      
  <div class="buttons">
   <button id="btn9">－</button>
   <button id="btn10">＋</button>
  </div>
 </div>
  
 <div class="order">
  <div class="menu">
    <div class="menu-text">なんこつ</div>
    <div class="menu-count" id=num6>0</div>
  </div>      
  <div class="buttons">
   <button id="btn11">－</button>
   <button id="btn12">＋</button>
  </div>
 </div>

 <div class="order">
  <div class="menu">
    <div class="menu-text">ポテト</div>
    <div class="menu-count" id=num7>0</div>
  </div>      
  <div class="buttons">
   <button id="btn13">－</button>
   <button id="btn14">＋</button>
  </div>
 </div>
  
 <div class="order">
  <div class="menu">
    <div class="menu-text">空き</div>
    <div class="menu-count" id=num8>0</div>
  </div>      
  <div class="buttons">
   <button id="btn15">－</button>
   <button id="btn16">＋</button>
  </div>
 </div>
</ul>   

<audio src="/assets/pinpon.mp3" id="sound"></audio>
<button type='button' id="btnsound">呼び出し</button>

</div>